.table td {
    border: 2px solid black;
}

.table {
    border-collapse: collapse;
}

.form textarea {
    width: 400px;
    height: 400px;
    border: 2px solid black;
    display: block;
    margin: 20px;
}

.form input[type='text'] {
    background-color: lightgray;
    display: block;
    margin: 20px;
}

.form input[type='submit'] {
    width: 100px;
    background-color: red;
    margin: 20px;
}

.form {
    margin: 20px;
    padding: 25px;
}

.guestbookform label {
    display: block;
    margin: 20px;
}

.hidden {
    display: none;
}



#addForm label {
    display: block;
}

#addForm, #signupform,#authform {
    position: absolute;
    padding: 2%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    background-color: rgb(204,204,51);
    z-index: 2;
    color: black;
}
#signupform {
    position: absolute;
    display:flex;
    flex-direction: column;
    padding: 3%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    background-color: rgb(255,255,102);
    z-index: 2;
}
#OK{

    width: 30%;
    margin-top: 3%;
    margin-left: 30%;
    border: none;
    font-family: Satisfy !important;

background: linear-gradient(to right, red,yellow);
}
#a
/*#authform {
    position: absolute;
    padding: 2%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    background-color: rgb(255,255,102);
    z-index: 2;
} */
#shadow {
    position: fixed;
    padding: 20px;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}
#formDiaryOk{
    background-color: black;
    color: yellow;
    margin-left: 30%;
    border: black;

}
#addButton{
    background-color: rgb(255,255,102);
    border: black;
}

.logAlert {
    /* border: 1px solid red !important; */
    background-color: rgb(238, 140, 140);

}

#loginform input {
    display: block;
}

.hello {
    height: 100vh;
    width: 100vw;
    color: yellow;
    background-image: url("../image/black.jpg");
    /*opacity: 0.5;*/
    background-size: cover;
    background-repeat: no-repeat;
}

#homefit {
    font-family: Satisfy !important;
    font-size: 2rem;
}

.tableworkots tr td {
    /*background-color: rgba(176, 0, 161, 255) !important;*/
    display: block !important;
    border: none;
}

.tableworkots tr td:first-child {
    font-size: 2rem;
    padding-left: 10%;
    padding-bottom: 3%;

}

.tableworkots tr td:last-child {
    padding-left: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.tableworkots tr td:nth-child(2), .tableworkots tr td:nth-child(3) {
    font-size: 1.2rem;
    padding-left: 5%;
}
.tableDiary{
    border: 1px solid red;
}

.menu {
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
    /*opacity: 0.7;*/
}

table {
    width: 100%;
    padding: 10%;
    font-size: 1rem;
    margin-top: 3%;
}
.tableDiary{
    background-color: white !important;
    color: rgb(255,255,102);

}
.bar{
    background-color: black !important;

}
.start{
    position: center;
}

