.table td {
    border: 2px solid black;
}

.table {
    border-collapse: collapse;
}
.img{
    height: 20%;
    width: 20%;
}

.form textarea {
    width: 400px;
    height: 400px;
    border: 2px solid black;
    display: block;
    margin: 20px;
}

.form input[type='text'] {
    background-color: lightgray;
    display: block;
    margin: 20px;
}

.form input[type='submit'] {
    width: 100px;
    background-color: red;
    margin: 20px;
}

.form {
    margin: 20px;
    padding: 25px;
}

.guestbookform label {
    display: block;
    margin: 20px;
}

.hidden {
    display: none;
}

#addForm label, #signupform label, #signupform input, #loginform input {
    display: block;
}

#authform label, #signupform label {
    color: whitesmoke;
}

#authform input, #signupform input, #signupform a {
    border: 1px solid black;
}

#addForm, #signupform, #authform {
    position: absolute;
    font-family: Cinzel;
    padding: 2%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    background: linear-gradient(to right, rgb(128, 128, 128), rgb(0, 0, 0));
    /*background-color: rgb(204, 204, 51);*/
    z-index: 2;
    color: black;
}

#signupform {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 3%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    background-color: rgb(255, 255, 102);
    z-index: 2;
}

#OK {

    width: 30%;
    margin-top: 3%;
    margin-left: 30%;
    border: none;
    font-family: Satisfy !important;

    background: linear-gradient(to right, red, yellow);
}
.pagination{
    position: fixed;
    left:90%;
    bottom: 10%;
}

#a
    /*#authform {
        position: absolute;
        padding: 2%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid black;
        background-color: rgb(255,255,102);
        z-index: 2;
    } */
#shadow {
    position: fixed;
    padding: 20px;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

#formDiaryOk {
    background-color: black;
    color: yellow;
    margin-left: 30%;
    border: black;

}

.gridBox {
    display: grid;
    grid-template-areas:
"one one one"
"two      two";
}

#addButton {
    background-color: rgb(255, 255, 102);
    border: black;
}

.logAlert {
    /* border: 1px solid red !important; */
    background-color: rgb(238, 140, 140);

}


.start {
    background: linear-gradient(lightslategrey, lightgoldenrodyellow);
    border-radius: 5% 5% 0 5%;
    position: center;
    border: none !important;
    color: black !important;
    margin-bottom: 2%;
}

.hello {

}

#boxButton {
    margin: 15% 40%;
}

.mainStr {
    height: 100vh;
    width: 100vw;
    color: yellow;
    background-image: url("../image/hello.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.planeLayout {
    height: 100vh;
    width: 100vw;
    color: yellow;
    background-image: url("../image/plane.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#homefit {
    font-family: Satisfy !important;
    font-size: 2rem;
}
.tableworkots tr{
    display: block;
    display: flex;
    flex-direction: row;

}

.tableworkots tr td {
    /*background-color: rgba(176, 0, 161, 255) !important;*/
    display: block !important;
    border: none;
}

.tableworkots tr td:first-child {
    font-size: 2rem;
    padding-left: 10%;
    padding-bottom: 3%;

}

.tableworkots tr td:last-child {
    padding-left: 20%;
    /*padding-top: 1.5%;*/
    /*padding-bottom: 5%;*/
}

.tableworkots tr td:nth-child(2), .tableworkots tr td:nth-child(3) {
    font-size: 1.2rem;
    padding-left: 5%;
}
.tableworkots td:nth-child(4){
    padding-top: 1.5%;
}
.boxTableWorkouts{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.9) !important;
    margin-top: 0%;
}


.menu {
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
    opacity: 0.7;

}

table {
    width: 100%;
    padding: 10%;
    font-size: 1rem;
    /*margin-top: 3%;*/
    border: none !important;
}
.tableDiary th{
    color: goldenrod!important;
}

.tableDiary td,.tableDiary th {
    background-color: rgba(0,0,0,0.9) !important;
    /*color: rgb(255, 255, 102);*/
    color: white;
    /*border: 1px solid black !important;*/
    text-align: center;
    /*border: none !important;*/
    /*padding: 5%;*/

}

.tableDiary tr {
    font-size: 2rem;
}

.bar {
    background-color: rgba(0, 0, 0, 0.3) !important;

}

#diaryBut {
    height: 30%;
    width: 100%;
    font-size: 2rem;
    padding: 20%;
    color: black;
    font-weight: bold;

}

.exerc {
    padding: 0% 5%;
    font-weight: bolder !important;
    background: linear-gradient(to left, yellow, black);
}

.boxTableDiary {
    height: 50%;
    width: 100%;
}

